.task {
  width: 100%;
  margin: 12px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container-task {
  background: #03071e;
  width: 100%;
  display: flex;
  margin: 0 auto;
  height: 10%;
  align-items: center;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: flex;
  gap: 10px;
}

.checkmark {
  position: relative;
  box-shadow: rgb(220, 47, 2) 0px 0px 0px 2px;
  background-color: rgba(16, 16, 16, 0.5);
  height: 20px;
  width: 20px;
  margin-right: 10px;
  flex-shrink: 0;
  margin-top: -1px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  transform-origin: 0px 10px;
  border-radius: 4px;
  margin: -1px 10px 0px 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container input:checked ~ .checkmark {
  box-shadow: rgb(220, 47, 2) 0px 0px 0px 2px;
  background-color: rgba(245, 24, 24, 0.5);
  height: 20px;
  width: 20px;
  margin-right: 10px;
  flex-shrink: 0;
  margin-top: -1px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  transform-origin: 0px 10px;
  border-radius: 4px;
  margin: -1px 10px 0px 0px;
  padding: 0px;
  box-sizing: border-box;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
  transition: all 500ms ease-in-out;
}

.deleteButton {
  border: none;
  background: none;
  color: rgb(220, 47, 2);
  font-size: 22px;
  padding: 2px;
}

.deleteButton:hover {
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.taskDeleteButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.text-task {
  font-size: 14px;
  color: #fff;
  white-space: normal;
  word-break: break-all;
  padding: 0 20px;
}