.tasks {
    width: 100%;
    max-width: 736px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 0 1rem;
  }
  
  .container-valores {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .container-valores div {
    display: flex;
    gap: 5px;
    font-size: 14px;
    color: #fff;
    height: 20px;
  }
  
  .container-valores span {
    color: #fff;
    background-color: #03071e;
    height: 100%;
    border-radius: 5px;
    font-size: 10px;
    height: 100%;
    padding: 4px;
  }